<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior  name="ABC" >
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="TaskWcfService.Service1" behaviorConfiguration="ABC">
        <endpoint address="TaskManagementSVC" binding="basicHttpBinding" contract="TaskWcfService.IService1"></endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"  />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8085/WCFService/"/>
          </baseAddresses>
        </host>
      </service>

    </services>

  </system.serviceModel>
</configuration>